body {
  margin: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.header_title,
.about_product_title,
.screenshots_title,
.reviews_title,
.buy_title,
.contacts {
  display: block;
}
.header_title {
  width: 367px;
  height: 44px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: Arial;
  font-size: 60px;
  font-weight: 400;
}
footer {
  display: flex;
  background-color: #445161;
  min-height: 535px;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
footer form fieldset {
  display: flex;
  flex-direction: row;
}
footer .contacts_title {
  width: 100%;
}
footer .footer_copyright {
  width: 100%;
}
footer .social_link_item {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  background-image: url(../img/tw-logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
footer .footer_copyright {
  background-color: #ffffff;
  height: 26px;
  align-self: flex-end;
  margin: 0;
}
